{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
 <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <div class="col-12">
        <div class="card-header" style="background-color:#0B5ED7">
            <h2 style="color:white">Job View</h2>
        </div>
            <div class="card-body">
            </div>


            <div class="row">
                <div class="col-md-4">
                    <label>Job : </label>
                    <input type="text" class="form-control" value="{{job_view.job}}" readonly>
                </div>
                <div class="col-md-4">
                    <label>Job Description :</label>
                    <input type="text" class="form-control" value="{{job_view.job_description}}" readonly>
                </div>



</div>
</main>

{% endblock content %}

